In [6]:
import requests
import pandas as pd
import time

# Seminar - APIs and real-life coding

## Task 1: Requesting API
### 1a. Create a function requesting data from sreality

```python
base_url = 'https://www.sreality.cz/api/cs/v2/estates?category_main_cb=1&category_type_cb=1&locality_region_id=10&per_page60&page={}'.format(i)

r = requests.get(base_url)
d = r.json()
```

* function should parametrize: 
    * `category_main_cb` - `{'flat':1, 'house':2, 'land':3 }`
    * `category_type_cb` - `{'sell':1,'rent':2}`
    * `locality_region_id` - `{'Praha':10,'Brno':14}`
    * `page` parameter
* use string inputs for `category_main_cb` and `category_type_cb`
* test the validity of inputs
* include try/except clause to handle errors
* function should return JSON data in python types
* do not forget to sleep each request at least 0.5s

In [7]:
def request_sreality(page, category_main='flat', category_type='sell', locality_region='Praha'):
    
    time.sleep(0.5)

    category_mains = {'flat':1, 'house':2, 'land':3 }
    category_types = {'sell':1,'rent':2}
    region_mapping = {'Praha':10, 'Brno':14}
    
    if category_main not in category_mains:
        raise Exception(f'Unknown category main {category_main}')
    
    if category_type not in category_types:
        raise Exception(f'Unknown category type {category_type}')
    
    if locality_region not in region_mapping:
        raise Exception(f'Unknown locality region {locality_region}')
    
    url_template = 'https://www.sreality.cz/api/cs/v2/estates?category_main_cb={category_main_cb}&category_type_cb={category_type_cb}&locality_region_id={locality_region_id}&per_page60&page={page}'
    
    try:
        url = url_template.format(
            category_main_cb=category_mains[category_main],
            category_type_cb=category_types[category_type],
            locality_region_id=region_mapping[locality_region],
            page=page
        )

        r = requests.get(url)

        return r.json()
    except Exception as e:
        print(e)
d = request_sreality(0)
d.keys()

dict_keys(['meta_description', 'result_size', '_embedded', 'filterLabels', 'title', 'filter', '_links', 'locality', 'locality_dativ', 'logged_in', 'per_page', 'category_instrumental', 'page', 'filterLabels2'])

### 1b. Create a function converting sreality json data into pandas dataframe

In [8]:
def sreality_json_to_df(sreality_data):
    return pd.DataFrame(sreality_data['_embedded']['estates'])
sreality_json_to_df(d)

,labelsReleased,has_panorama,labels,is_auction,labelsAll,seo,exclusively_at_rk,category,has_floor_plan,_embedded,...,hash_id,attractive_offer,price,price_czk,_links,rus,name,region_tip,gps,has_matterport_url
0,"[[new_building, balcony, parking_lots], []]",0,"[Novostavba, Balkon, Parkování]",False,"[[new_building, personal, balcony, cellar, ele...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",1,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,1293100108,0,7495000,"{'value_raw': 7495000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 48 m²,2449079,"{'lat': 50.07816046074923, 'lon': 14.452499539...",False
1,"[[collective, panel], []]",0,"[Družstevní, Panelová]",False,"[[collective, panel, elevator, not_furnished],...","{'category_main_cb': 1, 'category_sub_cb': 7, ...",1,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,281707596,0,3591000,"{'value_raw': 3591000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+1 43 m²,0,"{'lat': 50.08284146074923, 'lon': 14.495790539...",True
2,"[[loggia, partly_furnished], []]",0,"[Lodžie, Částečně vybavený]",False,"[[personal, loggia, brick, cellar, elevator, g...","{'category_main_cb': 1, 'category_sub_cb': 7, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,3236873292,0,9076000,"{'value_raw': 9076000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+1 76 m²,0,"{'lat': 50.063691460749226, 'lon': 14.35584553...",False
3,"[[panel], []]",0,[Panelová],False,"[[personal, panel, not_furnished], [playground...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",1,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,3480339532,0,2709000,"{'value_raw': 2709000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 27 m²,0,"{'lat': 50.08335646074923, 'lon': 14.315311539...",True
4,"[[parking_lots, partly_furnished], []]",0,"[Parkování, Částečně vybavený]",False,"[[personal, parking_lots, partly_furnished], [...","{'category_main_cb': 1, 'category_sub_cb': 2, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,167519308,0,2349000,"{'value_raw': 2349000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 1+kk 18 m²,0,"{'lat': 50.04965746074923, 'lon': 14.450020539...",False
5,"[[], []]",0,[],False,"[[personal, brick], [playground, vet, small_sh...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",0,1,0,"{'favourite': {'is_favourite': False, '_links'...",...,2047861836,0,5615000,"{'value_raw': 5615000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 36 m²,0,"{'lat': 50.07580346074923, 'lon': 14.457582539...",False
6,"[[panel, furnished], []]",0,"[Panelová, Vybavený]",False,"[[personal, panel, elevator, furnished], [play...","{'category_main_cb': 1, 'category_sub_cb': 2, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,2369205324,0,0,"{'value_raw': 0, 'unit': '', 'name': 'Celková ...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 1+kk 16 m²,0,"{'lat': 50.090421460749226, 'lon': 14.47173053...",False
7,"[[partly_furnished], [shop]]",0,"[Částečně vybavený, Obchod 5 min. pěšky]",False,"[[personal, after_reconstruction, brick, partl...","{'category_main_cb': 1, 'category_sub_cb': 2, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,2966013772,0,4467000,"{'value_raw': 4467000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 1+kk 16 m²,0,"{'lat': 50.07821746074923, 'lon': 14.435051539...",False
8,"[[furnished], []]",0,[Vybavený],False,"[[personal, after_reconstruction, brick, eleva...","{'category_main_cb': 1, 'category_sub_cb': 12,...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,544814924,0,13052000,"{'value_raw': 13052000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 6 pokojů a více 146 m²,0,"{'lat': 50.069722460749226, 'lon': 14.43470753...",False
9,"[[new_building, balcony], []]",0,"[Novostavba, Balkon]",False,"[[new_building, personal, balcony, brick, cell...","{'category_main_cb': 1, 'category_sub_cb': 6, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,2385429580,0,8808000,"{'value_raw': 8808000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+kk 50 m²,0,"{'lat': 50.06215446074923, 'lon': 14.407412539...",False
10,"[[new_building, balcony], []]",0,"[Novostavba, Balkon]",False,"[[new_building, personal, balcony, brick, cell...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,2553201740,0,6301000,"{'value_raw': 6301000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 34 m²,0,"{'lat': 50.06215446074923, 'lon': 14.407412539...",False
11,"[[loggia, panel], [shop]]",0,"[Lodžie, Panelová, Obchod 6 min. pěšky]",False,"[[personal, loggia, panel, cellar, elevator, n...","{'category_main_cb': 1, 'category_sub_cb': 7, ...",1,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,435234636,0,3653000,"{'value_raw': 3653000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+1 41 m²,0,"{'lat': 50.017663460749226, 'lon': 14.43710253...",False
12,"[[loggia], []]",0,[Lodžie],False,"[[personal, loggia, brick, cellar, garage, not...","{'category_main_cb': 1, 'category_sub_cb': 7, ...",1,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,4278723660,0,4244000,"{'value_raw': 4244000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+1 41 m²,0,"{'lat': 50.01968146074923, 'lon': 14.429833539...",False
13,"[[partly_furnished], []]",0,[Částečně vybavený],False,"[[personal, brick, cellar, partly_furnished], ...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",0,1,0,"{'favourite': {'is_favourite': False, '_links'...",...,1269736524,0,3258000,"{'value_raw': 3258000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 34 m²,0,"{'lat': 50.04188246074923, 'lon': 14.485369539...",False
14,"[[balcony], []]",0,[Balkon],False,"[[personal, after_reconstruction, balcony, bri...","{'category_main_cb': 1, 'category_sub_cb': 10,...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,191292492,0,0,"{'value_raw': 0, 'unit': '', 'name': 'Celková ...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 5+kk 109 m²,0,"{'lat': 50.09460946074923, 'lon': 14.406651539...",False
15,"[[balcony], []]",0,[Balkon],False,"[[personal, after_reconstruction, balcony, bri...","{'category_main_cb': 1, 'category_sub_cb': 6, ...",0,1,0,"{'favourite': {'is_favourite': False, '_links'...",...,719373388,0,0,"{'value_raw': 0, 'unit': '', 'name': 'Celková ...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+kk 41 m²,0,"{'lat': 50.09955746074923, 'lon': 14.483201539...",False
16,"[[partly_furnished], []]",0,[Částečně vybavený],False,"[[personal, after_reconstruction, brick, cella...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",0,1,0,"{'favourite': {'is_favourite': False, '_links'...",...,1659647052,0,9076000,"{'value_raw': 9076000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 45 m²,0,"{'lat': 50.07420046074923, 'lon': 14.463208539...",False
17,"[[new_building, terrace], []]",0,"[Novostavba, Terasa]",False,"[[new_building, personal, terrace, brick, cell...","{'category_main_cb': 1, 'category_sub_cb': 10,...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,1789973580,0,27097000,"{'value_raw': 27097000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 5+kk 145 m²,0,"{'lat': 50.06878046074923, 'lon': 14.412185539...",False
18,"[[], [shop]]",0,[Obchod 4 min. pěšky],False,"[[personal, after_reconstruction, brick, garag...","{'category_main_cb': 1, 'category_sub_cb': 7, ...",0,1,0,"{'favourite': {'is_favourite': False, '_links'...",...,2021708876,0,13026000,"{'value_raw': 13026000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+1 90 m²,0,"{'lat': 50.06976046074923, 'lon': 14.423258539...",False
19,"[[terrace], [shop]]",0,"[Terasa, Obchod 6 min. pěšky]",False,"[[personal, after_reconstruction, terrace, bri...","{'category_main_cb': 1, 'category_sub_cb': 9, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,3695952972,0,0,"{'value_raw': 0, 'unit': '', 'name': 'Celková ...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 4+1 114 m²,0,"{'lat': 50.07802346074923, 'lon': 14.424311539...",False
20,"[[], [shop]]",0,[Obchod 5 min. pěšky],False,"[[personal, after_reconstruction, brick, eleva...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,532703052,0,0,"{'value_raw': 0, 'unit': '', 'name': 'Celková ...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 31 m²,0,"{'lat': 50.07802346074923, 'lon': 14.424311539...",False

### 1c. link function `1b` into function `1a`

In [9]:
def request_sreality(page, category_main='flat', category_type='sell', locality_region='Praha'):
    
    time.sleep(0.5)

    category_mains = {'flat':1, 'house':2, 'land':3 }
    category_types = {'sell':1,'rent':2}
    region_mapping = {'Praha':10, 'Brno':14}
    
    if category_main not in category_mains:
        raise Exception(f'Unknown category main {category_main}')
    
    if category_type not in category_types:
        raise Exception(f'Unknown category type {category_type}')
    
    if locality_region not in region_mapping:
        raise Exception(f'Unknown locality region {locality_region}')
    
    url_template = 'https://www.sreality.cz/api/cs/v2/estates?category_main_cb={category_main_cb}&category_type_cb={category_type_cb}&locality_region_id={locality_region_id}&per_page60&page={page}'
    
    try:
        url = url_template.format(
            category_main_cb=category_mains[category_main],
            category_type_cb=category_types[category_type],
            locality_region_id=region_mapping[locality_region],
            page=page
        )

        r = requests.get(url)

        return sreality_json_to_df(r.json())    
    except Exception as e:
        print(e)
d = request_sreality(0)
d.keys()

Index(['labelsReleased', 'has_panorama', 'labels', 'is_auction', 'labelsAll',
       'seo', 'exclusively_at_rk', 'category', 'has_floor_plan', '_embedded',
       'paid_logo', 'locality', 'has_video', 'advert_images_count', 'new',
       'auctionPrice', 'type', 'hash_id', 'attractive_offer', 'price',
       'price_czk', '_links', 'rus', 'name', 'region_tip', 'gps',
       'has_matterport_url'],
      dtype='object')

### 1c. Combining multiple requests into single df

* Function should parametrize:
    * `start_page` and `end_page`
    * request parameters
* construct a list of individual request dfs
* then feed it into `pd.concat` function

In [10]:
def multiple_sreality_requests(start_page,end_page,category_main='flat', category_type='sell', locality_region='Praha'):
    return pd.concat([
        request_sreality(i, category_main=category_main, category_type=category_type, locality_region=locality_region) 
        for i in range(start_page,end_page+1)
    ])

raw = multiple_sreality_requests(0,4)
raw.head()

,labelsReleased,has_panorama,labels,is_auction,labelsAll,seo,exclusively_at_rk,category,has_floor_plan,_embedded,...,hash_id,attractive_offer,price,price_czk,_links,rus,name,region_tip,gps,has_matterport_url
0,"[[new_building, parking_lots, garage], []]",0,"[Novostavba, Parkování, Garáž]",False,"[[new_building, personal, balcony, cellar, ele...","{'category_main_cb': 1, 'category_sub_cb': 2, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,3977454668,0,5990000,"{'value_raw': 5990000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 1+kk 38 m²,2449079,"{'lat': 50.07442858339895, 'lon': 14.456621416...",False
1,"[[], [train]]",0,[Vlak 4 min. pěšky],False,"[[personal, balcony, brick, elevator], [vet, s...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",1,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,739587148,0,7025000,"{'value_raw': 7025000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 67 m² (Mezonet),0,"{'lat': 49.973812583398946, 'lon': 14.37474641...",True
2,"[[loggia, panel], []]",0,"[Lodžie, Panelová]",False,"[[personal, loggia, panel, cellar, elevator, n...","{'category_main_cb': 1, 'category_sub_cb': 7, ...",1,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,3230717004,0,6734000,"{'value_raw': 6734000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+1 69 m²,0,"{'lat': 50.02655458339895, 'lon': 14.393468416...",False
3,"[[new_building, terrace, garage], []]",0,"[Novostavba, Terasa, Garáž]",False,"[[new_building, personal, balcony, terrace, ce...","{'category_main_cb': 1, 'category_sub_cb': 2, ...",0,1,0,"{'favourite': {'is_favourite': False, '_links'...",...,924071500,0,8862000,"{'value_raw': 8862000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 1+kk 41 m²,0,"{'lat': 50.058300583398946, 'lon': 14.45071141...",False
4,"[[parking_lots, furnished], []]",0,"[Parkování, Vybavený]",False,"[[personal, balcony, brick, parking_lots, furn...","{'category_main_cb': 1, 'category_sub_cb': 2, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,4292486220,0,4513000,"{'value_raw': 4513000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 1+kk 36 m²,0,"{'lat': 50.02334958339895, 'lon': 14.593685416...",False

## Task 2: Cleaning data

### 2a. Filter columns
* filter only columns: `['locality', 'price', 'name', 'gps','hash_id','labelsAll','exclusively_at_rk']`
* use `.copy()` to avoid `SettingWithCopyWarning` later

In [14]:
clean = raw[['locality', 'price', 'name', 'gps','hash_id','labelsAll','exclusively_at_rk']].copy()
clean.head()

,locality,price,name,gps,hash_id,labelsAll,exclusively_at_rk
0,Praha 1,0,Prodej bytu 4+kk 246 m²,"{'lat': 50.07964358339895, 'lon': 14.429288416...",2572892508,"[[personal, after_reconstruction, terrace, bri...",0
1,Praha 7 - Holešovice,5719000,Prodej bytu 2+1 45 m²,"{'lat': 50.09399858339895, 'lon': 14.458484416...",2045167436,"[[personal, after_reconstruction, brick, cella...",0
2,Praha 5 - Radotín,7025000,Prodej bytu 2+kk 67 m² (Mezonet),"{'lat': 49.973812583398946, 'lon': 14.37474641...",739587148,"[[personal, balcony, brick, elevator], [vet, s...",1
3,Praha 5 - Hlubočepy,6734000,Prodej bytu 3+1 69 m²,"{'lat': 50.02655458339895, 'lon': 14.393468416...",3230717004,"[[personal, loggia, panel, cellar, elevator, n...",1
4,Praha 2 - Vinohrady,8862000,Prodej bytu 1+kk 41 m²,"{'lat': 50.058300583398946, 'lon': 14.45071141...",924071500,"[[new_building, personal, balcony, terrace, ce...",0

### 2b: GPS
* Convert dictionary in `gps` column into two columns - `lat` and `lon`
* use apply function on gps column
* Note apply can return multiple columns

In [15]:
clean[['lat','lon']] = clean.gps.apply(lambda gps: pd.Series({'lat':gps['lat'], 'lon':gps['lon']}))

clean.head()

,locality,price,name,gps,hash_id,labelsAll,exclusively_at_rk,lat,lon
0,Praha 1,0,Prodej bytu 4+kk 246 m²,"{'lat': 50.07964358339895, 'lon': 14.429288416...",2572892508,"[[personal, after_reconstruction, terrace, bri...",0,50.079644,14.429288
1,Praha 7 - Holešovice,5719000,Prodej bytu 2+1 45 m²,"{'lat': 50.09399858339895, 'lon': 14.458484416...",2045167436,"[[personal, after_reconstruction, brick, cella...",0,50.093999,14.458484
2,Praha 5 - Radotín,7025000,Prodej bytu 2+kk 67 m² (Mezonet),"{'lat': 49.973812583398946, 'lon': 14.37474641...",739587148,"[[personal, balcony, brick, elevator], [vet, s...",1,49.973813,14.374746
3,Praha 5 - Hlubočepy,6734000,Prodej bytu 3+1 69 m²,"{'lat': 50.02655458339895, 'lon': 14.393468416...",3230717004,"[[personal, loggia, panel, cellar, elevator, n...",1,50.026555,14.393468
4,Praha 2 - Vinohrady,8862000,Prodej bytu 1+kk 41 m²,"{'lat': 50.058300583398946, 'lon': 14.45071141...",924071500,"[[new_building, personal, balcony, terrace, ce...",0,50.058301,14.450711

### 2b. Get flat type from name
* Name is always represented by string `Prodej bytu [type of flat] [Area] m^2`
* try picking third word in string
* check meaningfulness using `.value_counts()`

In [17]:
clean['flat_type'] = clean.name.apply(lambda nm: nm.split()[2])
clean['flat_type'].value_counts()

2+kk        29
1+kk        28
3+kk        17
3+1         11
4+kk         6
2+1          5
4+1          5
1+1          2
5+kk         1
atypické     1
Name: flat_type, dtype: int64

### 2c. Get area from name
* Naive: select the word before last word
* Then try navigating using the index of `'m²'`
* if this also fail, then you will need to use regex

In [18]:
def name_to_area(nm):
    splitted= nm.split()
    
    m2_idx = splitted.index('m²')
    
    return int(splitted[m2_idx-1])

clean['area'] = clean.name.apply(name_to_area)
clean

,locality,price,name,gps,hash_id,labelsAll,exclusively_at_rk,lat,lon,flat_type,area
0,Praha 1,0,Prodej bytu 4+kk 246 m²,"{'lat': 50.07964358339895, 'lon': 14.429288416...",2572892508,"[[personal, after_reconstruction, terrace, bri...",0,50.079644,14.429288,4+kk,246
1,Praha 7 - Holešovice,5719000,Prodej bytu 2+1 45 m²,"{'lat': 50.09399858339895, 'lon': 14.458484416...",2045167436,"[[personal, after_reconstruction, brick, cella...",0,50.093999,14.458484,2+1,45
2,Praha 5 - Radotín,7025000,Prodej bytu 2+kk 67 m² (Mezonet),"{'lat': 49.973812583398946, 'lon': 14.37474641...",739587148,"[[personal, balcony, brick, elevator], [vet, s...",1,49.973813,14.374746,2+kk,67
3,Praha 5 - Hlubočepy,6734000,Prodej bytu 3+1 69 m²,"{'lat': 50.02655458339895, 'lon': 14.393468416...",3230717004,"[[personal, loggia, panel, cellar, elevator, n...",1,50.026555,14.393468,3+1,69
4,Praha 2 - Vinohrady,8862000,Prodej bytu 1+kk 41 m²,"{'lat': 50.058300583398946, 'lon': 14.45071141...",924071500,"[[new_building, personal, balcony, terrace, ce...",0,50.058301,14.450711,1+kk,41
...,...,...,...,...,...,...,...,...,...,...,...
16,Praha 5 - Stodůlky,13719000,Prodej bytu 3+kk 80 m²,"{'lat': 50.04053558339895, 'lon': 14.341851416...",4133303372,"[[in_construction, personal, balcony, brick, c...",0,50.040536,14.341851,3+kk,80
17,Praha 5 - Stodůlky,8356000,Prodej bytu 2+kk 50 m²,"{'lat': 50.04053558339895, 'lon': 14.341851416...",1734161484,"[[new_building, personal, balcony, brick, cell...",0,50.040536,14.341851,2+kk,50
18,Praha 5 - Stodůlky,8163000,Prodej bytu 2+kk 49 m²,"{'lat': 50.04055458339895, 'lon': 14.341896416...",1405498444,"[[personal, balcony, brick, cellar, elevator, ...",0,50.040555,14.341896,2+kk,49
19,Praha 5 - Stodůlky,8477000,Prodej bytu 2+kk 49 m²,"{'lat': 50.04055458339895, 'lon': 14.341896416...",1925592140,"[[in_construction, personal, balcony, brick, c...",0,50.040555,14.341896,2+kk,49
20,Praha 5 - Stodůlky,8385000,Prodej bytu 2+kk 50 m²,"{'lat': 50.04055458339895, 'lon': 14.341896416...",1959146572,"[[personal, balcony, brick, cellar, elevator, ...",0,50.040555,14.341896,2+kk,50

## Task 3 (Homework): Convert column`labelsAll` into boolean variables

### Task 3a. Get all possible label names
* deal with nested-list structure
* Hint: try sum the whole column to get a nested list of lists.
* Then flatten the nested list (2D to 1D)
* Finally keep only unique elements

In [19]:
possible_labels = list(set([item for sublist in raw.labelsAll.sum() for item in sublist]))
possible_labels

['partly_furnished',
 'parking_lots',
 'restaurant',
 'vet',
 'after_reconstruction',
 'small_shop',
 'post_office',
 'atm',
 'furnished',
 'school',
 'balcony',
 'natural_attraction',
 'movies',
 'terrace',
 'new_building',
 'playground',
 'elevator',
 'sightseeing',
 'medic',
 'tram',
 'bus_public_transport',
 'collective',
 'candy_shop',
 'train',
 'not_furnished',
 'metro',
 'drugstore',
 'garage',
 'panel',
 'in_construction',
 'kindergarten',
 'brick',
 'loggia',
 'shop',
 'personal',
 'sports',
 'cellar',
 'tavern',
 'theater']

### 4b. Test existence of label `cellar` for offers
* again deal with nested list of list structure
* write generic function `test_existence_of_label(offer_labels,label)`

In [20]:
def test_existence_of_label(offer_labels,label):
    return label in [item for sublist in offer_labels for item in sublist]
raw.labelsAll.apply(lambda offer_labels: test_existence_of_label(offer_labels, 'cellar'))

0     False
1      True
2     False
3      True
4      True
      ...
16     True
17     True
18     True
19     True
20     True
Name: labelsAll, Length: 105, dtype: bool

In [22]:
def test_existence_of_label(offer_labels, label):
    return label in [item for sublist in offer_labels for item in sublist]
raw.labelsAll.apply(lambda offer_labels: test_existence_of_label(offer_labels, 'cellar'))

0     False
1      True
2     False
3      True
4      True
      ...
16     True
17     True
18     True
19     True
20     True
Name: labelsAll, Length: 105, dtype: bool

### 4c. Test existence of all possible labels
* use apply returning series with all labels

In [23]:
def existence_of_all_labels(offer_labels, possible_labels):
    return pd.Series({
        label:test_existence_of_label(offer_labels,label)
        for label in possible_labels
    })

raw.labelsAll.apply(lambda offer_labels: existence_of_all_labels(offer_labels, possible_labels))

,partly_furnished,parking_lots,restaurant,vet,after_reconstruction,small_shop,post_office,atm,furnished,school,...,in_construction,kindergarten,brick,loggia,shop,personal,sports,cellar,tavern,theater
0,False,False,True,True,True,True,True,True,False,True,...,False,True,True,False,True,True,True,False,True,True
1,False,False,True,True,True,True,True,True,False,True,...,False,True,True,False,True,True,True,True,True,True
2,False,False,True,True,False,True,True,True,False,True,...,False,True,True,False,True,True,True,False,True,True
3,False,False,True,True,False,True,True,True,False,True,...,False,True,False,True,True,True,True,True,True,True
4,False,False,True,True,False,True,True,True,False,True,...,False,True,False,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,False,True,True,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,True,True
17,False,True,True,True,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,True,True
18,False,True,True,True,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,True,True
19,False,True,True,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,True,True
20,False,True,True,True,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,True,True

In [24]:
def existence_of_all_labels(offer_labels,possible_labels):
    return pd.Series({
        label: test_existence_of_label(offer_labels,label)
        for label in possible_labels
    })

raw.labelsAll.apply(lambda offer_labels: existence_of_all_labels(offer_labels, possible_labels))

,partly_furnished,parking_lots,restaurant,vet,after_reconstruction,small_shop,post_office,atm,furnished,school,...,in_construction,kindergarten,brick,loggia,shop,personal,sports,cellar,tavern,theater
0,False,False,True,True,True,True,True,True,False,True,...,False,True,True,False,True,True,True,False,True,True
1,False,False,True,True,True,True,True,True,False,True,...,False,True,True,False,True,True,True,True,True,True
2,False,False,True,True,False,True,True,True,False,True,...,False,True,True,False,True,True,True,False,True,True
3,False,False,True,True,False,True,True,True,False,True,...,False,True,False,True,True,True,True,True,True,True
4,False,False,True,True,False,True,True,True,False,True,...,False,True,False,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,False,True,True,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,True,True
17,False,True,True,True,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,True,True
18,False,True,True,True,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,True,True
19,False,True,True,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,True,True
20,False,True,True,True,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,True,True